.chat-container {
  max-width: 1024px;
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: var(--box-shadow-main);
  border-radius: 30px;
}
.messages-container {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;

}
.users-container {
  grid-area: 1 / 3 / 3 / 4;
  box-shadow: var(--box-shadow-l);
}
