.chat-container {
  max-width: 1024px;
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "rooms chat users"
    "rooms chat users"
    "rooms chat users";
  border-radius: 30px;
  overflow: hidden;
  box-shadow: var(--box-shadow-d);
}
.messages-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 3fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "message-list"
    "input";
  grid-area: chat;
}
.users-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "current-user"
    "user-list";
  grid-area: users;
  box-shadow: var(--box-shadow-l);
  position: relative;
  background-color: var(--background-color);
}

@media screen and (max-width: 700px) {
  .chat-container {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 2fr 2fr;
    grid-template-areas:
      "rooms "
      "users "
      "chat "
      "chat "
      "chat";
    box-shadow: none;
    border-radius: 0;
    gap: 0;
    .messages-container {
      width: 100%;
      height: 100%;
    }
    .users-container {
      display: flex;
      height: 100%;
      width: 100%;
    }
       .hide {
      display: none;
    }
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 0.7rem;
  }
}
