.select-room {
  border: none;
  width: 73%;
  height: 32px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: transparent;
  color: var(--font-color);
  box-shadow: var(--box-shadow-d);
  option {
    color: #3b3b3b;
  }
}
