.header-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 10%;
  margin-top: 25px;
  .header-logo {
    width: 100px;
  }
  .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .toggle-label {
      width: 60px;
      height: 30px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      background: var(--background-color);
      border-radius: 200px;
      box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      .toggle-mode {
        margin-left: 10%;
        appearance: none;
        width: 25px;
        height: 25px;
        background: linear-gradient(180deg, #dddddd, #a7a7a7);
        border-radius: 180px;
        box-shadow: var(--box-shadow-d);
        transition: 0.3s;
        cursor: pointer;
      }
      .toggle-mode:checked {
        background: linear-gradient(180deg, #777, #3a3a3a);
        margin-left: 50%;
      }
    }
    .logout {
      border: none;
      width: 120px;
      height: 40px;
      border-radius: 35px;
      background-color: var(--backgroun-color);
      color: var(--font-color);
      font-weight: bolder;
      box-shadow: var(--box-shadow-d);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--background-color);
        background-color: var(--font-color);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    width: 90%;
  }
  .header-container .header-buttons {
    gap: 5px;
  }
}
@media screen and (max-width: 700px) {
  #root {
    gap: 20px;
  }
  .header-container {
    width: 90%;
  }
}
@media only screen and (max-width: 960px) {
  .header-container .header-buttons .toggle-label .toggle-mode {
    width: 20px;
    height: 20px;
  }
}
