.login-page-container {
  max-width: 500px;
  width: 400px;
  height: 550px;
  padding: 10px;
  box-shadow: var(--box-shadow-main);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.form-submit-button {
  width: 120px;
  height: 40px;
  border-radius: 35px;
  border: none;
  &:disabled {
    opacity: 0.7;
  }

  &:hover {
    border: 3px solid var(--link-color);
    transform: scale(1.1);
    font-weight: bold;
    color: var(--link-color);
    cursor: pointer;
  }
}
.progress {
  position: absolute;
  top: 99%;
  left: 0;
  height: 8px;
  transition: ease-in 1s;
}
