@import url("https://use.typekit.net/uec1bvy.css");

#root {
  width: 100vw;
  height: calc(100vh - 100px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
:root {
  --font-color: #d9d9d9;
  --background-color: #313131;
  --link-color: #21649b;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --box-shadow-main: 10px 10px 20px var(--box-shadow-color);
  --box-shadow-r: 5px 0px 5px -2px var(--box-shadow-color);
  --box-shadow-l: -5px 0px 5px -2px var(--box-shadow-color);
  --box-shadow-d: 0px 4px 10px var(--box-shadow-color);
}

/* 2 */
[data-theme="light"] {
  --font-color: #313131;
  --background-color: #d9d9d9;
  --link-color: #21649b;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --box-shadow-main: 10px 10px 20px var(--box-shadow-color);
  --box-shadow-r: 5px 0px 5px -2px var(--box-shadow-color);
  --box-shadow-l: -5px 0px 5px -2px var(--box-shadow-color);
  --box-shadow-d: 0px 4px 10px var(--box-shadow-color);
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
}
