.message-list-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  grid-auto-flow: dense;
  grid-area: message-list;
  padding: 20px;
}
.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
