.room-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "current-room"
    "room-list";
  grid-area: rooms;
  box-shadow: var(--box-shadow-r);
}
.current-room {
  grid-area: current-room;
  width: 100%;
  height: 100%;
  .current-room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow-d);
  }
}
.room-list {
  grid-area: room-list;
  position: relative;
  padding-top: 10px;
  overflow: hidden;

  .room-list-items {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 230;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:hover {
      height: 50px;
      background-color: var(--background-color);
      cursor: pointer;
      box-shadow: var(--box-shadow-d);
    }
  }
  .room-list-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
}
.room-list::after {
  content: "";
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: var(--box-shadow-r);
}

@media screen and (max-width: 480px) {
  .room-container {
    grid-template-rows: 1fr;
    width: 70px;
    height: 70px;
    box-shadow: none;
  }
  .room-list {
    display: none;
  }
  .current-room-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
