.online-users-container {
  grid-area: user-list;
  width: 100%;
  overflow: auto;
  word-break: break-all;
  .online-user-header {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .online-user {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px;
    &:hover {
      height: 50px;
      background-color: var(--background-color);
      box-shadow: var(--box-shadow-d);
    }
    .online-user-img {
      width: 30px;
    }
  }
}
@media screen and (max-width: 700px) {
  .online-users-container {
    overflow-y: scroll;
    height: 150px;
  }
}
