.current-user {
  grid-area: current-user;
  box-shadow: var(--box-shadow-d);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  .current-user-img {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
  }
}

@media screen and (max-width: 700px){
  .current-user{
    box-shadow: none;
  }
}
